{% extends 'base.html.twig' %} {% form_theme formTache 'bootstrap_4_layout.html.twig' %} {% block body %} {% if deleteMode %}

<h1>Effacer la tâche</h1>

{% else %}

<h1>Création d'une tâche</h1>

{% endif %} {{ form_start(formTache) }} {{ form_row(formTache.title) }} {{ form_row(formTache.content) }}

<button type="submit" class="btn btn-success">
        
    {% if deleteMode %}

        Effacer la tache

    {% else %}
        
        Ajouter la tâche
        
    {% endif %}
    
</button> {{ form_end(formTache) }} {% endblock %}